.Card {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #285c69;
    background-color: yellowgreen;
    border: 0.25vw solid #00080a;
    border-radius: 2vw;
}

.CardTitle {
    font-weight: bold;
    font-size: 1.75vw;
}

.CardContent {
    margin: 0.5vw;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #2a7688;
    background-color: #5ab549;
    border: 0.25vw solid #4aaec8;
    border-radius: 2vw;
}

